<p id="notice" ><%= notice %> </p>

<p>
  <div class="words">
  <% @game.word_list.each_with_index do |word, i| %>
    <div class="word type-<%= @game.cypher[i] %>">
      <%= word %>
    </div>
  <% end %> 
  </div>
</p>

<%= render_qr_code(game_cypher_path(@game.id)) %>

<%= link_to 'View Cypher', game_cypher_path(@game.id), target: "_blank" %>

<%= link_to 'Exit Game', games_path %>

<script>
[...document.querySelectorAll('.word')].forEach(function(item) {
  item.addEventListener('click', function() {
    if (item.classList.contains("type-0")) {
      item.classList.add("show-type-0");
    }
    if (item.classList.contains("type-1")) {
      item.classList.add("show-type-1");
    }
    if (item.classList.contains("type-2")) {
      item.classList.add("show-type-2");
    }
    if (item.classList.contains("type-3")) {
      item.classList.add("show-type-3");
    }
  });
});
</script>